.room-for-navbar {
  padding: 47px 0;
}

html,body {
	height:100%;
	font-weight: lighter;
}

#mainWorkArea {
	height: 100%;
	padding: 7px 0px 0px;
	position: relative;
}

.tall
{
    height: 100%;
}

#map
{
    padding: 0px;
    height: 100%;
}

.toolboxWidth {
	width: 300px;
}

.hide {
	display: none;
}

#toolboxContainer {
	position: absolute;
	display: flex;
    flex-direction: column;
    height: 100%;
    padding-right: 5px;
}

#toolboxContainer .dropdown-menu {
    border-style: groove;
    border-width: thin;
    border-bottom-color: black;
}

#journeyName {
	font-weight: normal;
	margin-bottom: 5px;
}

#journeyDistance {
	font-weight: normal;
	font-size: 0.75em;
	display: inline-block;
}


.toolboxPanel {
	height: calc(50% - 6px);
	overflow-x: hidden;
	overflow-y: hidden;
	margin-bottom: 5px;
}

.toolboxPanel:last-child {
	margin-bottom: 0;
}

.minSliderLabel {
	float: left;
}

.maxSliderLabel {
	float: right;
}

.meansButtonWrapper {
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 3px;
	float: right;
	width: 30px;
}

.meansIcon {
	width: 24px;
	height: 24px;
}

.panel-body {
	padding: 5px;
}

.toFromIcon
{
	width : 15px;
	height: 15px;
	background-color: blue;
	opacity: 1;
}

.panelHeading {
	font-size: 0.75em;
}

.panelBody {
	font-size: 0.70em;
	background-color: transparent;
	width: 100%;
	font-weight: normal;
}

.placeHolderText {
	font-weight: 300;
	font-size: 0.7em;
}

.vertical-label-text {
	transform: rotate(90deg);
	transform-origin: left top 0;
	position: absolute;
	margin-top: -73px;
	margin-left: 28px;
	color: #095f8a;
	height: 0px;
	background:none;
	overflow:visible;
    pointer-events:none;
}

.routingPreference {
	float: left;
	width: 285px;
}

.routingLeftPreference {
	float: left;
	width: 138px;
	margin-right: 4px;
}

.routingRightPreference {
	float: left;
	width: 138px;
	margin-left: 4px;
}

.routingPreference .horizontalSlider {
	width: 285px;
}

.routingLeftPreference .horizontalSlider {
	width: 138px;
}

.routingRightPreference .horizontalSlider {
	width: 138px;
}

.journeyButtonIcon {
	width: 18px;
	height: 18px;
	margin: 0px;
	padding: 0px;
}

.busy {
	cursor:wait;
}

#modlessDialogWrapper {
    width: 100%;
    position: relative;
}

.modelessDialogBackground {
    background-color: rgba(78, 93, 108, 0.8);
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 10px;
    border-radius: 8px;
	overflow: auto;
}

.modlessDialogBody {
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10%;
	padding-right: 10%;
	font-weight: initial;
}

.modelessButton {
    float: right;
}

.navbar {
	font-size: 14px;
}


#presetProfilesInput {
	width:214px;
}

#presetProfiles .tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

#presetProfiles .tt-hint {
  	color: #999;
	width: 214px;
}

#presetProfiles .tt-menu {    /* used to be tt-dropdown-menu in older versions */
	color: #2b3e50;
	font-size: 12px;
	width:214px;
	padding: 4px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	 -moz-border-radius: 4px;
	      border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	 -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	      box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#presetProfiles .tt-suggestion {
  line-height: 24px;
}

#presetProfiles .tt-suggestion.tt-cursor,.tt-suggestion:hover {
  color: #fff;
  background-color: #0097cf;

}

#presetProfiles .tt-suggestion p {
  margin: 0;
}

.authProviderIcon {
	width:60px;
	height:60px;
	float: left;
	margin-right: 10px;
}

#authModal .modal-body {
	display: flex;
}

#authModal .modal-dialog {
	width: 300px;
}

#journeyWrapper {
	position: absolute;
	top: 53px;
	left: -300px;
    padding: 0px 5px 0px 2px;
}


#journeyWrapper .toolboxPanel {
	height: calc(50vh - 52px);
}


/*
SPINNER BEGIN->
*/
@keyframes spinner {
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinner {
    to {-webkit-transform: rotate(360deg);}
}

.spinner {
}

.spinner:before {
    content: 'Loading…';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin-top: -10px;
    margin-left: -10px;
}

.spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border-top: 2px solid #ebebeb;
    border-right: 2px solid transparent;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
}
/*
SPINNER END<-
*/