<div id="route_tmpl">
    <div id="{{id}}" class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <span class="glyphicon glyphicon-road pull-left" style="padding:2px 4px 0px;font-size:0.75em"></span>
            <div class="collapsed panelHeading" role="button" data-toggle="collapse" data-parent="#{{parent}}" href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" contenteditable="true">
                {{name}}
            </div>
          </div>
        </div>
        <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
          <div class="panel-body">
            <div class="pull-left" style="width:230px; z-index:99">
              <div class="description panelBody placeHolderText" contenteditable="true">{{description}}</div>
            </div>
            <div class="pull-right" style="width:39px; margin-right:-4px">
              <span id="binIcon" class="btn journeyButtonIcon glyphicon glyphicon-trash" data-toggle="tooltip" title="delete"></span>
              <span id="centreIcon" class="btn journeyButtonIcon glyphicon glyphicon-hand-right" data-toggle="tooltip" title="pan to"></span>
              <span id="busyIcon" class="btn journeyButtonIcon glyphicon spinner hide" style="margin-bottom:-6px;"></span>
            </div>
            <canvas class="routeProfileCanvas" width="268px" height="72px"></canvas>
            <canvas class="highlightProfileCanvas" width="268px" height="72px" style="margin-top:-77px; display:inherit"></canvas>
            <div class="routeEleDelta panelBody" style="margin-top:-19px; text-align:center; position: relative; font-weight: bold;">{{dEle}}</div>
            <div class="routeDistance panelBody" style="text-align:center; margin-top:4px">{{distance}}</div>
          </div>
        </div>
      </div>
</div>

<div id="poi_tmpl">
    <div id="{{id}}" class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <span class="glyphicon glyphicon-map-marker pull-left" style="padding:2px 4px 0px;font-size:0.75em"></span>
            <div class="collapsed panelHeading" role="button" data-toggle="collapse" data-parent="#{{parent}}" href="#collapse{{id}}" aria-expanded="false" aria-controls="collapse{{id}}" contenteditable="true">
                {{name}}
            </div>
          </div>
        </div>
        <div id="collapse{{id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{id}}">
          <div class="panel-body">
            <div class="pull-left" style="width:230px; z-index:99">
              <div class="description panelBody placeHolderText" contenteditable="true">{{description}}</div>
            </div>
            <div class="pull-right" style="width:39px; margin-right:-4px">
              <span id="binIcon" class="btn journeyButtonIcon glyphicon glyphicon-trash" data-toggle="tooltip" title="delete"></span>
              <span id="centreIcon" class="btn journeyButtonIcon glyphicon glyphicon-hand-right" data-toggle="tooltip" title="pan to"></span>
            </div>
          </div>
        </div>
      </div>
</div>

<div id="journey_tmpl">
    <div id="{{id}}"class="panel panel-default" style="margin:2px">
        <div class="panel-heading" role="tab" id="heading{{id}}" style="padding:4px 6px">
          <div class="panel-title">
            <div class="dropdown pull-right" style="display:inline-block;margin-left:3px;">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:#ebebeb;"><b class="caret"></b></a>
              <ul class="dropdown-menu" style="margin-left:-100px;margin-top:3px;">
                <li id="delete" data-toggle="tooltip" title="Delete"><a href="#">Delete</a></li>
              </ul>
            </div>
            <a href="#" id="open" class="button panelHeading">{{name}}</a>
          </div>
        </div>
      </div>
</div>
